
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
}

h1 {
  color: #333;
}

/*nav*/
.containernav{
    padding: 2px;
    margin: 20px;
    text-align: right;
    color:white;
  }

  .containernav ul {
    margin-left: 0;
    padding-left: 0;
     align-items: right;
     display: flex;
        justify-content: space-around;
  }

  .containernav ul li {
    list-style: none;
    text-align: center;
  }
  
  .containernav ul li a:hover {
    color: gray;
  }

  .containernav ul li a {
    margin: 8px;
    color: #2f2f2f;
    font-weight: 500;
    font-family: 'poppins';
    text-transform:lowercase;
    font-size: 25px;
    text-decoration: none;
  }
  
li, i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  /*logo word.*/
  .logo { 
    width: 110%;
    height: 100px;
    margin:-10px;
    text-align:left;
}

/*translated page*/
.containertr {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.containertr .box {
  color: #929796;
  background: #333;
  padding: 10px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  font-size: 30px;
  color: #fff;
  transition: 0.5s;
}

.containertr .box:hover {
  background: #1B2845;
}

.containertr .box img {
  position: relative;
  max-width: 100px;
  margin-bottom: 10px;
}

.containertr .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.containertr .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.containertr .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

.containertr .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

.containertr .box {
  grid-column: unset !important;
  grid-row: unset !important;
}


/*flags grid home page*/
.language-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* Adjust the gap as needed */
  position: absolute;
  top: 70%;
  left:60px;
  /* Adjust the right spacing as needed */
  transform: translateY(-50%);
}

.flag-button {
  cursor: pointer;
  width: 150px;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
}

  .flag-button {
    width: 60px;
    height: 40px;
  }

.flag-button.selected {
  opacity: 0.7;
}

.text-input textarea::placeholder {
  color: #b7b6b6;
}



.flag-button {
  cursor: pointer;
  width: 150px;
  height: 100px;
}

.pick-container {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.label-container {
  display: flex;
    justify-content:right;
    margin-top: 20px;
    margin-right:210px;

}

/*text box*/
input {
  margin: auto;
  padding: 1px 0px;
  border-width: 2px;
  border-color: (rgb(118, 118, 118), rgb(118, 118, 118));
  padding-block: 1px;
  padding-inline: 2px;
  width: 300px;
  height:50px;
  margin-left: 940px;
  margin-top:20px;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;

}

label {
  font-size: 40px;
  font-family: 'poppins';
}

h2 { 
  font-size: 40px;
  font-family: 'poppins';
  margin-left: 50px;
}


#translationOutput {
  margin-top: 20px;
}


 button {
   padding: 10px;
   margin-top: 50px;
   margin-left: 40px;
   height: 40px;
   width: 300px;
   background-color: #1B2845;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 .button{
  margin-top: 30px;
  margin-left:900px;
 }


 button:hover {
  box-shadow: 0 2px 6px rgba(83, 100, 255, 0.45);
 }

